[submodule "contrib/RTKLIB"]
	path = contrib/RTKLIB
	url = https://github.com/rtklibexplorer/RTKLIB.git
	branch = main
[submodule "contrib/pyubx2"]
	path = contrib/pyubx2
	url = https://github.com/semuconsulting/pyubx2.git
[submodule "contrib/pysbf2"]
	path = contrib/pysbf2
	url = https://github.com/semuconsulting/pysbf2.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json.git
[submodule "contrib/arrow-nanoarrow"]
	path = contrib/arrow-nanoarrow
	url = https://github.com/apache/arrow-nanoarrow.git
